form > div {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  margin-top: 12.5px;
}

label,
p {
  font-size: 22px;
}

input {
  background-color: #2d2d2d;
  border: none;
  border-radius: 10px;
  padding: 8px 2px;
  outline: none;
  color: #f1f1f1;
  font-size: 18px;
}

button {
  border: none;
  background: linear-gradient(
    45deg,
    rgba(0, 225, 255, 0.5),
    rgb(0, 255, 0, 0.5)
  );
  padding: 15px;
  border-radius: 15px;
  margin: 25px auto;
  width: 250px;
  color: #fff;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.checkbox-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin: 25px 0;
}

.checkbox-field > label {
  font-size: 16px;
}

p {
  text-align: center;
  margin-top: 12.5px;
}

.radio-field {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.radio_input_label-field {
  display: flex;
  align-items: center;
  gap: 8px;
}
