ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

li {
  list-style: none;
}

a {
  font-size: 24px;
  background: -webkit-linear-gradient(rgb(255, 225, 0), rgb(255, 0, 200));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
